.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 0 0 0;
}

#my-input {
  margin: 0px 10px 0 45px;
}

.features {
  background-color: #282c34;
}

.features-wrapper {
  background-color: #282c34;
  display: flex;
}
.feature {
  text-align: center;
  text-transform: uppercase;
  margin: 0% 50% -10% 0%;
  margin-left: -16%;
}

.feature-circle {
  width: 120px;
  height: 120px;
  background-color: #f34a53;
  border-radius: 100%;
  margin: -10px 0 10px;
}

.feature-circle:hover {
  background-color: darken(#1421dc, 3%);
  color: #ffffff;
}

.shapes {
  text-align: center;
}

.upper-triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 154px solid #f34a53;
  margin: 20px 0 0 35px;
  position: relative;
}

.upper-title {
  margin: 0 0 0 -68px;
  position: relative;
  top: 105px;
  font-size: 29px;
  color: white;
  background: #f34a53;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.upper-title:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.lower-triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 154px solid #f34a53;
  margin: 20px 0 0 35px;
  position: relative;
}

.lower-title {
  margin: 6px 0px 0px -71px;
  bottom: 159px;
  position: relative;
  font-size: 29px;
  background: #f34a53;
  color: white;
  font-weight: bold;
}

.solid-base {
  display: flex;
  margin: 10px 0 50px -100px;
  justify-content: space-between;
}

.btn-solid {
  padding: 0px 2px 4px 2px;
  font-size: 16px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 0px 0px 0px -80px;
}

.btn-solid:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.btn-base {
  padding: 0px 2px 4px 2px;
  font-size: 16px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 0px -200px 0px 0px;
}

.btn-base:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.btn-back {
  padding: 0px 2px 4px 2px;
  font-size: 16px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 0px 0px 0px 50px;
}

.btn-back:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.user-manual {
  margin: 200px 80px 0 30px;
}

.container {
  text-align: left;
  margin: 50px 10px;
}

.preface {
  text-align: center;
  color: #6845e9;
}

.my-back {
  display: block;
  margin: 0 0 0px 0;
}

.for {
  margin: 25% 0% 10% 0%;
}

.for-feature {
  margin: 0 0 30px 0;
  font-size: 30px;
}

.feature-title1 {
  font-size: 35px;
  color: forestgreen;
}

.feature-title2 {
  font-size: 35px;
  color: darkorange;
}

.against-feature {
  margin: 0 0 30px 0;
  font-size: 30px;
}

.main-button {
  padding: 1px 2px 1px 2px;
  font-size: 14px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 0px 0px 0px 0px;
}

.main-button:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.for-button {
  padding: 1px 2px 1px 2px;
  font-size: 14px;
  background-color: black;
  box-shadow: 2px 4px 10px rgb(11, 240, 3);
  color: #808080;
  margin: 0px 0px 0px 0px;
}

.for-button:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.against-button {
  padding: 1px 2px 1px 2px;
  font-size: 14px;
  background-color: black;
  box-shadow: 2px 4px 10px darkorange;
  color: #808080;
  margin: 0px 0px 0px 0px;
}

.against-button:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.for-weights {
  background-color: #282c34;
  padding: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-around;
}

.weights-wrapper {
  background-color: #20201f;
  display: flex;
  margin: 50px 0px 50px 0px;
}

.weight {
  text-align: center;
  text-transform: uppercase;
  flex: 0 0 10%;
  max-width: 100%;
  margin: auto;
  align-content: top;
}

.argument {
  color: darkorange;
}

.importance {
  color: darkorange;
}

.weight-title {
  text-align: center;
  text-transform: none;
  color: forestgreen;
}

.weight-title2 {
  text-align: center;
  text-transform: none;
  color: rgb(240, 136, 17);
}

.weight-circle {
  width: 120px;
  height: 120px;
  background-color: #ac1e25;
  border-radius: 100%;
  align-items: stretch;
  text-align: center;
}

.against {
  margin: 25% 0% 10% 0%;
}

.against-weights {
  background-color: #282c34;
  padding: auto;
}

.list {
  display: block;
}

.caption {
  display: block;
  justify-content: center;
  font-size: 20px;
  margin: 0 0 10px 570px;
  position: relative;
}

.argument-list {
  font-size: 22px;
  margin: 8px 0 0px 0;
  font-weight: bold;
}

.box-list {
  display: flex;
  margin: 10px 0 0 0;
}

.validity {
  width: 60px;
  height: 40px;
  margin: 0px 10px 10px 10px;
  font-size: 23px;
  font-weight: 700;
  color: rgb(241, 6, 6);
  border: 5px solid slateblue;
  border-radius: 20px;
  background-color: #282c34;
}

.yes {
  text-align: left;
  margin: 0 0 0 10px;
}

.yes2 {
  color: darkorange;
  margin: 0 0 0px 10px;
}

.title-list {
  text-align: center;
  color: green;
  margin: 0 0 5px 0;
}

.main-list {
  font-size: 35px;
  width: 700px;
  margin: 0 0 0 0;
  border-top: 3px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-bottom: 3px solid blueviolet;
  text-align: center;
  color: slateblue;
  text-align: start;
}

.main-list2 {
  font-size: 35px;
  width: 700px;
  margin: 0 0 0 0;
  border-top: 3px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 3px solid blueviolet;
  color: slateblue;
  text-align: start;
}

.title-list2 {
  text-align: center;
  color: darkorange;
  margin: 0 0 5px 0;
}

.box-list2 {
  display: flex;
  margin: 0 0 0 0;
}

.main-list3 {
  width: 700px;
  height: 70px;
  border-top: 1px solid blueviolet;
}

.main-list4 {
  width: 700px;
  height: 70px;
  border-top: 1px solid blueviolet;
}

.sum {
  color: darkorange;
}

.all-weight {
  text-align: right;
}

input {
  width: 650px;
  height: 40px;
  margin: 15px 7px 0px 0;
  font-size: 30px;
  color: slateblue;
  font-weight: bolder;
  text-align: center;
  border: 5px solid slateblue;
  border-radius: 20px;
  background-color: #282c34;
}

label {
  font-size: 40px;
  color: forestgreen;
}

select {
  width: 60px;
  height: 40px;
  margin: 0px 10px 10px 0px;
  font-size: 23px;
  font-weight: 700;
  color: rgb(241, 6, 6);
  border: 5px solid slateblue;
  border-radius: 20px;
  background-color: #282c34;
}

.shape {
  text-align: center;
  margin: 0 0 0 0px;
}

.end-triangle {
  width: 0px;
  height: 0px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 154px solid #f34a53;
  margin: -40px 0 20px 605px;
  text-align: center;
  color: brown;
  position: relative;
}

.end-title {
  margin: 0px 0px 0px -62px;
  bottom: 150px;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.database {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  display: block;
  margin: 100px 0 300px 0;
}

.title-base {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 0px 0px;
  position: relative;
  height: min-content;
}

.date {
  border: 3px solid blueviolet;
  width: 194px;
  height: 60px;
  text-align: center;
  font-weight: bold;
}

.subject {
  border: 3px solid blueviolet;
  width: 883px;
  height: 60px;
  text-align: center;
  font-weight: bold;
}

.decision {
  border: 3px solid blueviolet;
  width: 224.5px;
  height: 60px;
  text-align: center;
  font-weight: bold;
}

.one-base {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0 0px 0px;
  align-items: center;
  height: min-content;
  align-items: stretch;
}

.date-1 {
  border: 2px solid blueviolet;
  width: 196px;
  height: min-content;
  text-align: center;
}

.subject-1 {
  border: 2px solid blueviolet;
  width: 885px;
  height: min-content;
  text-align: center;
}

.decision-1 {
  border: 2px solid blueviolet;
  width: 226.5px;
  height: min-content;
  text-align: center;
}

.mark {
  width: 40px;
  height: 20px;
  margin: 0 0 0 0;
}

.one-mark {
  width: 180px;
  height: min-content;
  text-align: center;
  margin: 0 0 0 0;
}

.open {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.open-button {
  padding: 1px 2px 1px 2px;
  font-size: 14px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 30px 15px 30px 12px;
}

.open-button:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.remove-button {
  padding: 1px 2px 1px 2px;
  font-size: 14px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 30px 0px 30px 10px;
}

.remove-button:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

.btn-backend {
  padding: 0px 2px 4px 2px;
  font-size: 16px;
  background-color: black;
  box-shadow: 2px 4px 10px red;
  color: #808080;
  margin: 0px 0px 0px 0px;
}

.btn-backend:hover {
  background-color: darken(#dc143c, 3%);
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
